*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table{

    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td {
    padding: 8px;
    text-align: left;
    background-color: white;
}
th{
    background-color: #4c587c;
    color: white;
}

.columna1{
    width: 20%;
}

.columna2{
    width: 20%;
}

.columna3{
    width: 60%;
}



section{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

button{
    width: 145px;
    font-size: 15px;
    padding: 8px 0px;
    background-color: #6f59b6;
    color: white;
    border-radius: 10px;
    border: 1px solid #00000000;    
}

button:hover{
    background-color: #6f59b6e2;
}

body{
    background-color: #f8f7f8;

}
