*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #f8f7f8;


}

section{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 450px;
    padding: 30px;
    margin-top: 40px;
    background-color: beige;
    font-size: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}


input{
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px 0 10px 0px;
    border: white;
}


button{
    width: 100px;
    font-size: 15px;
    padding: 8px 0px;
    background-color: #6f59b6;
    color: white;
    border-radius: 10px;
    border: 1px solid #00000000;    
}

button:hover{
    background-color: #6f59b6e2;
}

